In [1]:
import pandas as pd
import numpy as np

In [2]:
cd C:\Users\Digubhaa\Desktop\Projects\p2

C:\Users\Digubhaa\Desktop\Projects\p2

In [16]:
df = pd.read_csv('Python_Linear_Regression_Project_2_Home_Price_Prediction_Analysis.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [17]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [18]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 4.5+ MB

In [20]:
df = df.drop(['Address', 'Date', 'Postcode', 'YearBuilt', 'Lattitude', 'Longtitude'] , axis= 1)

In [21]:
df

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

In [22]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [25]:
df[['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']] = df[['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']].fillna(0)

In [26]:
df['Landsize'] =df['Landsize'].fillna(df['Landsize'].mean())

In [27]:
df['Landsize'].mean()

593.5989933612818

In [28]:
df['BuildingArea'] =df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [29]:
df['BuildingArea'].mean()

160.25640035662883

In [30]:
df.dropna(inplace=True)

In [31]:
df.shape

(27244, 15)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27244 entries, 1 to 34856
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         27244 non-null  object
 1   Rooms          27244 non-null  int64
 2   Type           27244 non-null  object
 3   Price          27244 non-null  float64
 4   Method         27244 non-null  object
 5   SellerG        27244 non-null  object
 6   Distance       27244 non-null  float64
 7   Bedroom2       27244 non-null  float64
 8   Bathroom       27244 non-null  float64
 9   Car            27244 non-null  float64
 10  Landsize       27244 non-null  float64
 11  BuildingArea   27244 non-null  float64
 12  CouncilArea    27244 non-null  object
 13  Regionname     27244 non-null  object
 14  Propertycount  27244 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 2.7+ MB

In [33]:
df['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [34]:
df = pd.get_dummies(df,drop_first=True)

In [36]:
df.shape

(27244, 745)

In [37]:
df.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.0,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.0,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.0,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.0,142.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0

In [38]:
X = df.drop(["Price"],axis=1)
X.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.0,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.0,79.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.0,150.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.0,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.0,142.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0

In [41]:
y = df[['Price']]
y.head()

       Price
1  1480000.0
2  1035000.0
4  1465000.0
5   850000.0
6  1600000.0

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=2)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
regression = LinearRegression()

In [46]:
regression.fit(X_train,y_train)

LinearRegression()

In [47]:
regression.score(X_test,y_test)

0.13853683161496355

In [48]:
regression.score(X_train,y_train)

0.6827792395792723

In [49]:
# Model is overfitted so we use ridge and lasso regression

In [50]:
# Ridge Regression

In [51]:
from sklearn.linear_model import Ridge

In [53]:
ridge_reg = Ridge(max_iter=100)

In [55]:
ridge_reg.fit(X_train,y_train)

Ridge(max_iter=100)

In [56]:
ridge_reg.score(X_test,y_test)

0.6701765758295279

In [57]:
ridge_reg.score(X_train,y_train)

0.6796668251040214

In [58]:
# Lasso Regression

In [59]:
from sklearn.linear_model import Lasso

In [65]:
lasso_reg = Lasso(alpha=50,max_iter=100)

In [66]:
lasso_reg.fit(X_train,y_train)

D:\anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1329087287481364.0, tolerance: 796258688308.2251
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100)

In [67]:
lasso_reg.score(X_test,y_test)

0.6637669697137103

In [68]:
lasso_reg.score(X_train,y_train)

0.6767356948457683

In [69]:
# Slop and Intercept Value

In [71]:
print("Slope:",regression.coef_)

Slope: [[ 2.64001655e+05 -4.64732744e+04 -8.22349031e+04  1.17151153e+05
   4.29703140e+04  2.35173742e+00  4.70024530e+02  4.92118905e+00
   2.61342069e+05 -4.61008827e+04 -1.32312259e+05  2.15453995e+05
   1.20133839e+05  2.72683980e+05  1.74702166e+05 -8.00201053e+04
  -1.50967673e+05 -4.94461444e+04  1.17711126e+05 -1.28880253e+05
  -3.49349656e+04 -8.54261329e+03  6.19157896e+04 -2.57258028e+05
  -1.10868116e+05 -2.42391674e+05  1.79856957e+05 -1.22395100e+05
   2.04625284e+05  3.78258911e+04  1.46681364e+05  2.32198628e+03
   7.35395732e+04 -5.29198411e+04  1.90482393e+05 -3.20451670e+05
   7.49515014e+04 -2.83019804e+04  2.69103300e+04  2.78824270e+05
   1.51386730e+05 -1.06324212e+05 -8.45087700e+04  2.96568248e+05
   1.50644588e+05  4.42378223e-08  1.75999576e+05 -1.20057166e+05
  -9.64544651e+03  3.68377378e+05 -1.35478625e+05 -6.38092125e+04
   3.53493139e+04  1.12364756e+05  1.50210824e+04  3.80702958e+04
  -2.07783976e+04  5.91389835e-08 -2.80289620e+05  3.62799617e+06
  -1.70813150e+05  4.34592162e+03 -2.42377714e+05 -3.46858959e+05
  -5.38387981e+04 -5.68653064e+04 -1.25183575e+05  7.32456333e+04
  -1.49059860e+05  5.81185670e+05  1.46226853e+05  3.17997075e+05
  -4.57316260e+03 -2.55638831e+05  3.69455304e+05 -1.15029553e+05
  -2.11025506e+05  8.21526909e+04  2.36197163e+04  2.12508573e+04
  -5.82009613e+04  3.49164828e+05 -4.06742065e+04 -2.43821088e+05
  -2.12390672e+05 -3.73145696e+05  1.86572073e+04 -2.25972697e+05
   1.27539824e+05  3.85986055e+05 -1.34115133e+05 -2.24490607e+05
  -1.58738964e+05  3.20740510e+04 -5.87051931e+04 -8.51778156e+04
   1.43016150e+03  1.84505150e+04 -5.84566147e+04 -6.55575568e+03
  -2.39441933e+04  5.22360613e+04 -6.13585217e+04  4.67653420e+04
   1.11906081e+05 -3.03524602e+05  4.91638266e+04 -1.10861406e+05
   1.11002009e-07  5.25384277e+04 -6.48677726e+04 -4.42026058e+03
  -1.63737753e+05 -1.16744031e+05  2.08371325e+05 -1.92328642e+05
  -4.19130496e+05 -2.27472230e+04  1.94858270e+04  1.13215212e+05
  -2.32309284e+05 -9.15221376e+04  3.91898843e+05  3.71809224e+05
   2.14264774e+05  4.56828686e+04  1.77559141e+04 -1.93905771e+05
   3.66816256e+04  3.38113878e+05 -2.79050352e+05 -8.29367251e+04
   9.97135675e+04  6.29461728e+04 -1.28958954e+04 -3.32365744e-08
  -1.34139555e-07  1.51675664e+05 -8.34519510e+04  1.32289977e+05
  -1.13883289e-07  1.88968644e+05  2.27651164e+05 -7.45096449e+04
  -3.91229683e+04 -8.01720716e+04  2.10537725e+05  3.41965887e+03
   4.31104649e+05 -1.41337601e+05  3.58517423e+06  3.58964287e+06
  -2.33369616e+05 -2.08870436e+04 -7.74835945e+04  2.62966427e+05
  -7.85407926e+04 -1.62721244e+05  6.40544210e+04  3.09646400e+04
  -1.20989873e+05  8.61815063e+04  1.73121003e+05 -2.27069888e+05
  -2.58026614e+04 -2.67500635e+05 -1.32163855e+05  7.82800590e+05
  -1.24592191e+05  4.38940519e+04 -1.00942551e+05 -3.11541673e+05
  -4.44153152e+05 -1.21722020e+05 -3.36690866e+04 -1.64000640e+04
   4.89990221e+04 -1.55566512e+05  4.90631010e+04 -1.47225364e+04
   4.28312699e+05 -1.49880671e+05  2.32370587e+05 -1.49126738e+05
   1.17089769e+05 -2.21276971e+04  5.75378587e+04  2.26855684e+05
  -5.30691460e+04 -7.69823131e+04 -8.66406502e+04 -1.45452985e+05
   4.79451757e+04  9.64929441e+04 -3.73488957e+04 -7.47806909e+03
   8.85013855e+04 -2.09808037e+04  6.43567662e+04  2.69324351e+05
  -1.75802482e+05  1.60203278e+05  8.68965145e+03 -1.27725760e+05
   4.32684775e+04  9.52092704e+04  1.42820815e+05  7.56299670e+04
  -6.66299661e+04  4.12652219e+05 -2.37206273e+04 -1.69397975e+04
   1.99998148e+05 -4.93913356e+04  8.05303221e+03 -4.09129648e+04
  -4.66189631e+03  2.43831423e+05  9.54077116e+04  7.43722706e+04
   6.84473453e+04  5.45882056e+05 -1.66101989e+05  1.00262668e+05
  -2.44312782e+04  1.07806494e+05 -2.64896940e+04 -3.30293442e+05
   6.83588985e+04 -1.45828165e+05 -2.24756995e+05  1.74303293e+05
  -7.35196577e+04  1.39208243e+05 -3.28319733e+04 -8.16548098e+03
   8.29707192e+04 -1.70745894e+07 -4.93877616e+04  5.62048104e+04
  -4.64607964e+03 -2.94956617e+04  4.33613194e+05  1.50951595e+05
   1.10255451e+05  1.43455317e+04  1.01343234e+05 -6.23746398e+02
  -3.19540672e+04 -3.66958402e+05  3.29968640e+04  1.10537261e+05
   8.45386941e+04  2.24213986e+05  3.02731380e+05 -3.73432326e+04
   2.03679807e+05  3.67140495e+05  1.90774035e+05 -2.10308058e+05
  -5.41525766e+04 -3.13521550e+05 -1.07316001e+05  4.35657534e+05
  -2.12983274e+05 -1.27317003e+05 -4.55798872e+03  3.72013770e+06
   4.28054513e+04  9.13734826e+04 -6.29598262e+04 -1.22422551e+05
   3.95900570e+05 -1.79171948e+05 -2.23235905e+05 -9.05652185e+04
  -1.24989602e+05  1.74799999e+05  8.10324558e+04 -1.75102638e+05
   1.87501424e+05  6.43885732e+04  5.78270941e+04  2.16001414e+05
  -3.82162193e+05 -6.48997658e+04 -1.28734627e+05 -1.10232449e+05
  -9.96186648e+04 -3.99572192e+05 -7.05604302e+04 -3.08505777e+04
   2.95247213e+04  4.38872026e+04 -2.58987960e+05 -1.48687142e+05
   8.53780738e+04 -1.61286396e+05  4.70520152e+05  4.30905486e+04
  -6.68487512e+04 -1.57690339e+05  2.91622053e+04  1.16054180e+05
  -5.36171763e+04 -1.91002039e+05 -4.08693868e+04 -6.14090823e-09
   1.13483519e+05 -1.69881830e+05  1.88296374e+05 -6.03018126e+04
   5.43477940e+04  7.22834127e+04  2.18994627e+04 -6.60482469e+04
   1.10944153e+05 -4.88384475e+04 -3.55271264e+04  3.22133311e+04
  -3.44950732e+05  4.19717839e+05  1.59891743e+05 -2.61106654e+05
  -2.25289823e+05  4.14927680e+05 -2.14622941e+05 -3.20620134e+04
   7.75063095e+04 -7.25080114e+04 -3.16742534e+04 -1.67403490e+05
  -8.77419827e+04 -5.89166674e+04  4.88562011e+04 -8.08491868e+04
  -1.62022300e+05  4.65811303e+05  4.10853539e+05 -1.71988925e+04
   3.03450379e+05 -2.87535368e+03 -1.53891675e+05  1.42659814e+05
  -4.84645618e+03  4.05389293e+05 -1.07916354e+05  2.54322871e+05
   3.84614603e+04 -3.64762625e+04 -3.85480431e+04 -2.74249921e+05
  -4.78638143e+05  7.13447079e+04  3.70939160e+04  3.26116000e+04
   1.47147151e+04 -4.97983196e+04  1.23665612e+05  7.53123093e+05
   1.76890126e+05 -3.00060492e-08  5.14482663e+05  1.14546661e+05
  -9.80624456e+04 -1.38614089e+05 -1.66790346e+04 -1.12822691e+05
   1.93670126e+05  2.55161796e+05 -1.57484822e+05 -6.28092130e+04
   1.22195660e+05 -1.12638253e+05  1.70418827e+05 -1.44523794e+04
   3.52010027e+05  2.11671077e+05  9.93172746e+04  4.16123302e+05
  -7.46423125e+04  8.45852697e+04 -2.04922786e+03  8.05677238e+04
   2.74200916e+05  1.09644553e+05  5.26628759e+04 -9.18225851e-08
   1.13230018e+05  6.50470611e-08  8.08024520e+04  8.48022697e+05
   1.74622983e-10 -5.58390164e+05  1.04744352e+05 -2.11658017e+05
  -2.18050205e+04  1.07178179e+05  1.82990240e+05  1.08785559e+05
   5.89172551e+04  1.70384474e+05 -4.22587618e-08 -9.54807527e+03
   1.09721979e+05 -9.93742188e+04  3.61972875e+05  4.16475814e-08
  -5.70535148e+04  1.04347344e+05 -1.73015750e+05  4.55491839e+05
   1.40690247e+05  4.10364009e-07  1.80955699e+05  4.93857123e+05
   1.25502353e+05 -5.02929519e+05  1.56920807e+05 -2.54761319e+05
   1.76535211e+05 -2.09782291e+05  1.47294579e+05  2.08252516e+02
   3.66287160e+05  1.16352975e+05  2.51706031e+05 -2.62643880e-08
   2.68433601e+05  1.58093671e+05  2.57441813e+05 -5.04510781e+03
  -1.71186390e+05 -3.18829112e+03  9.43052822e+04  9.44735937e+04
   8.45489742e+04 -2.21451056e+04  1.37543076e+06  2.02918365e+05
   7.18308190e+03  1.32174741e+05 -4.91389113e+03 -1.51921995e-08
  -1.93664878e+05 -7.61071441e+03 -3.18875868e+04  9.05543135e+04
   1.02563902e+05  3.80185495e+05  7.65580290e+04  9.93937706e+04
   1.18055239e+05  9.55709321e+04  1.14506299e+05  9.12714275e+04
  -1.13332948e+05 -7.39045077e+04  3.88536137e-08 -2.99769454e-09
   7.47584274e+04  1.50976120e-08  2.82127436e+04  1.21433252e+05
   1.18684248e+05 -3.29414442e+05 -6.75924753e+04  3.26628034e+04
  -3.92787005e+05 -9.83423504e+04 -5.50663590e+03  1.20162572e+05
   8.49129927e+04  5.79639629e+05  9.91517764e+04  1.30448391e+06
  -1.18859883e+05 -2.24228911e+05  9.64116760e+04 -8.79272625e+04
   6.85396694e+04 -3.14994882e+04  5.30344055e+04  1.41116158e+05
   2.50683184e+05  7.79003343e+03  1.45634191e+06  1.86064314e+05
   1.31531000e+05  1.86264515e-08  8.92378614e+04  4.07573503e+04
   1.49188947e+04  9.91561814e+04  1.36653281e+05 -3.25644578e-08
   1.49569360e+05  1.17085568e+05  1.71835072e+05  1.78020014e+05
   1.21915184e+05 -1.43905679e+05 -4.32528035e+05  1.92102455e+05
  -1.96934553e+05  4.68488324e+04 -2.93513773e+05  5.57081987e+05
  -2.11469696e+05  1.17235675e+05  9.18429428e+05 -1.16674010e+04
   1.26746730e+05 -7.53943093e+04  7.89438422e+04 -1.82950075e+02
   7.74044051e+05 -9.27483690e+04  2.38338540e+05  2.07516884e+05
   2.51718322e+04  1.33933903e+05  2.75227231e+04  2.87491295e+04
   2.77899052e+05  1.39467691e+05 -5.11063263e-08 -4.96560347e+05
   9.59471875e+04  3.57640140e+05 -1.84383805e+04  1.06868600e+05
  -3.57217064e+04 -1.53214223e+05 -5.27241787e+04  1.02512919e+05
   3.83446784e+05 -1.28239558e+05  7.72616653e+04  3.30670722e+05
   1.80511050e+05 -2.13040039e-08  1.23750972e+05 -1.49757037e+05
   6.72298484e-09  1.58017786e+05 -5.67524694e-09  7.18798630e+04
  -6.09912947e+04  2.11310239e+05  1.97123976e+05  6.90046026e+04
   1.92850887e+05  1.11405761e+05  7.18641121e+05  2.67202552e+05
   1.20396076e+05 -1.81920829e+05  1.11717868e+05  1.46927396e+05
   1.76073719e+05 -2.56586520e+04  1.03744404e+05  1.04372243e+05
   2.75725026e+05  8.87631475e+05 -1.40661351e+04  4.28234464e+04
   2.40476618e+05  5.25669353e+04 -1.93249434e-08  7.36308707e+04
  -1.99177851e+05  7.73502032e+04  3.96904685e+05  1.22746274e+05
   1.25736135e+04  1.02372881e+05 -4.62355767e+04 -5.72395033e+03
  -5.81698604e+04 -1.77656602e+04 -8.55652615e-09 -1.49447249e+04
   3.04713671e+05  1.08773530e+05  1.27825327e+05  3.27363214e+05
   3.01491136e+05  3.22605797e+05  4.23817624e+05  2.38984595e+04
   1.10893901e+05  1.10833058e+05  4.99224168e+04  1.22236088e-08
  -8.76025297e-09  8.78265313e+04 -2.70844614e+04  2.13634454e+05
   1.58906914e-08 -3.09386431e+05  1.74869189e+04  1.82083978e+05
   7.84253288e+04  1.24359081e+05  2.11054351e+04  3.35096696e+05
   8.94984408e+04  8.20956293e+04 -5.56144010e+04  6.04010160e+04
   3.64450459e+04 -4.33647074e-09  4.47627864e+05  1.75597620e+05
   1.01251403e+05  1.34898188e+05  7.90194943e+04  8.39610064e+04
  -1.14378054e-08  1.21505969e+05  1.58757215e+05  3.76753394e+04
  -1.68165101e+05  3.80750152e+05 -3.05349468e+05  1.82053090e+05
   1.22623995e+05  2.17097847e+05 -5.12227416e-09  9.31322575e-10
  -4.15794812e+05  6.37156712e+04 -1.02596291e+05 -1.02712201e+05
  -6.40284270e-09  1.93156972e+05 -6.05359674e-09  1.55298937e+06
   1.21398440e+05  1.00990292e-08 -4.23187912e+03 -7.48296109e+04
   9.25055732e+04  9.13860276e-09  9.11296906e+04 -6.80629942e+03
  -2.52839527e-09  5.00408414e+05 -6.63567334e-09  6.56807502e+04
  -2.73937792e+04 -1.25520379e+04 -5.08471536e+05 -2.87263009e+04
   1.79261296e+05  1.39028865e+05 -5.61904998e+05  1.67892722e-09
   3.61198092e+05  2.43832418e+05  1.22216980e+04  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00 -2.10162309e+05
   1.46042630e+05  3.94558288e+04  1.75865554e+05  1.80934935e+05
   6.56774151e+04  0.00000000e+00  1.08108392e+05 -4.81375842e+04
  -8.80354052e+04  3.64996443e+05  5.22248384e+04  6.52251781e+04
   1.27802670e+05  1.44424475e+05 -3.42064972e+04  3.36774085e+04
   8.43057920e+04 -1.44455922e+04 -2.45114659e+05  8.96434739e+04
   2.90705747e+04  2.56370954e+05  4.19635090e+04  2.53727923e+05
   2.89923960e+05  0.00000000e+00  1.64218522e+05  0.00000000e+00
   6.34959842e+05  1.36601956e+05  3.40256922e+05  8.36021884e+04
   0.00000000e+00  0.00000000e+00  1.74777311e+05  1.90932861e+05
  -1.11791365e+04  4.57513423e+05  3.42212920e+05 -1.52759812e+05
   4.76269168e+05  2.35751036e+05  2.89422194e+04  3.70585386e+05
   1.43902269e+05 -1.97243398e+04 -4.25829580e+04 -3.71251895e+04
   2.30153703e+05  1.11152390e+05 -2.55163838e+06  1.34732814e+05
  -1.16876625e+05  1.39810549e+05  4.22122163e+04 -1.23209577e+04
   4.19717839e+05  7.65053785e+04  6.42879529e+04  1.79856957e+05
  -3.82877635e+04  2.56105949e+05  1.21886580e+05  3.29761347e+05
   1.31991945e+05  8.74679302e+04 -1.47280371e+05  2.17770891e+04
   2.12321402e+05  2.23139975e+05 -2.16051847e+05 -8.03539773e+04
   1.29462472e+05  1.96957251e+04 -2.16808841e+05  1.69631410e+05]]

In [72]:
print("Intercept:",regression.intercept_)

Intercept: [636394.72907135]

In [77]:
predicted_price= regression.predict(X_test)

In [78]:
predicted_price

array([[1672988.74423112],
       [1086049.72134496],
       [ 852828.79001253],
       ...,
       [ 891754.56467101],
       [ 783898.88694816],
       [1170611.74697978]])

In [75]:
from sklearn.metrics import mean_squared_error,r2_score

In [79]:
mse = mean_squared_error(y_test,predicted_price)

In [81]:
print("Mean_sqaured_error:",mse)

Mean_sqaured_error: 342275472104.31354

In [82]:
from math import sqrt
print("Root_mean_squared_error:",sqrt(mse))

Root_mean_squared_error: 585043.1369602702

In [83]:
r2 = r2_score(y_test,predicted_price)

In [84]:
print("r2_score:",r2)

r2_score: 0.13853683161496355